*{
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

body{
    background-color: #5b5bc4;
}

header{

    border-radius: 20px;
    text-align: center;
    background-color: rgba(119, 119, 119, 0.425);
    margin: auto;
    margin-top: 150px;
    width: 50%;

    box-shadow: 3px 3px 0px 2px rgba(0, 0, 0, 0.322);
}

nav h1{
    font-size: 3em;
    margin: 0px;
    padding-top: 20px;
}
#res{
    font-size: 1.5em;
    font-weight: bolder;
    font-family: sans-serif;
}

footer{
    text-align: center;
    padding-top: 20px;
    font-size: 1.2em;
}

#res{
    padding: 20px;
}

img{
    width: 50%;
    border-radius: 100%;
    margin-bottom: 20px;
}